@{
    ViewData["Title"] = "User Activity Report";
}
<h2>User Activity for last @ViewBag.Days days</h2>

<p>Correct Answers: @ViewBag.CorrectCount</p>
<p>Wrong Answers: @ViewBag.WrongCount</p>
<p>Including Corrected Answers: @ViewBag.CorrectedCount</p>